$color-dark-gray: #3A3A3A;
$color-light-gray: #969696;
$color-very-light-gray: #FAFAFA;
$color-white: #FFFFFF;
$color-dark-blue: #2947AA;
$color-ultra-dark-blue: #2e4284;
$color-light-blue: #EAEDF8;
$color-contrast-blue: #6178c5e6;
$color-light-green: #92C17B;
$color-dark-green: #73c94a;
$color-light-pink: #E0B1AE;
$color-dark-pink: #f76e65;
