<div class="card main-card-white">
  <div class="card-body">

    <div class="d-flex justify-content-between p-2">
      <div>
        <p class="font-weight-600 font-size-18">Transactions </p>
      </div>
      <div>
        <p class="font-size-14 font-weight-500 text-light-gray">
          Recent
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
          </svg>
        </p>
      </div>
    </div>

    <div class="table-responsive-sm table-responsive-md table-responsive-lg">
      <table class="table table-hover">
        <tbody>

          <ng-container *ngFor="let item of transactions">
            <tr class="font-size-12 font-weight-600 text-capitalize">
              <td>
                <div class="card-icon-light-grey">
                  <span class="avatar">
                    <img src="./../../assets/images/user.jpg" alt="user.jpg">
                  </span>
                </div>
              </td>
              <td> {{ item.name | titlecase }} </td>
              <td> {{ item.company | titlecase }} </td>
              <td> {{ item.registered | date:'MM/dd/yy' }} </td>
              <td> {{ item.registered | date:'hh:mm:ss a' }} </td>
              <td> ${{ item.balance }} </td>
              <td [ngClass]=" item.status == 'completed' ? 'text-dark-green' : 'text-dark-pink'"> {{ item.status |
                titlecase }} </td>
              <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
